<div id="<%= dom_id contract %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= contract.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Contract type:</strong>
    <%= contract.contract_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Summary:</strong>
    <%= contract.summary %>
  </div>
</div>
